<div class="row">
  <div class="col col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" id="main-frame" >
  	<%= form_tag '/login' do  %>
			<%= label_tag :email  %>		
			<%= text_field_tag :email %>
			<%= label_tag :password  %>		
			<%= password_field_tag :password %>
			<%= submit_tag 'Login', class: 'btn btn-success' %>
		<% end %>
  </div>
</div>