<div class="row">
  <%= render 'shared/errors', obj: @movie %>
  <div class="col col-md-offset-1 col-md-9 col-lg-offset-1 col-lg-9 col-sm-offset-1 col-sm-9" id="main-frame" >
  <h1 id="review-title">Casting</h1>
  <div id="test"></div>
  <h2>
	  <%= link_to request.referer.present? ? request.referer : root_path do  %>
	    <i class="glyphicon glyphicon-arrow-left"></i>
	  <% end %>
  </h2>
  <br><br>
  <button type="button" id="add-director" class="btn btn-lg">Add Director</button>
  <br><br>
   <section id="search-director-section">
	   <input id="search-director" type="text" class="form-control" placeholder="Directors">
			  <div id="results-director">             
			 </div>
			 <br><br>
   </section>
  <button type="button" id="add-screen" class="btn btn-lg">Add Screenwriters</button>
   <br><br>
   <section id="search-screen-section">
     <input id="search-screen" type="text" class="form-control" placeholder="Screenwriters">
        <div id="results-screen">             
       </div>
       <br><br>
   </section>
  <button type="button" id="add-cast" class="btn btn-lg">Add Cast</button>
  <br><br>
   <section id="search-cast-section">
	   <input id="search-cast" type="text" class="form-control" placeholder="Stars">
			  <div id="results-cast">             
			 </div>
       <br><br>
   </section>

   <div id="selected-cast">

   </div>
   
   </div><!-- column  -->
 </div><!-- row -->



 <!-- Busca dinamica -->
<script type="text/javascript">

  $('#add-screen').click(function() {
    $('#search-screen-section').slideToggle(500, function() {
      $('#search-screen').focus();
    });
  });

  $('#add-director').click(function() {
    $('#search-director-section').slideToggle(500, function() {
      $('#search-director').focus();
    });
  });

  $('#add-cast').click(function() {
    $('#search-cast-section').slideToggle(500, function() {
      $('#search-cast').focus();
    });
  });


 function sending_director(value){
    $.ajax({
     type: "POST",
     url: "/movies/<%= @movie.id %>/director",
     data: { director_id: value },
     dataType: 'script',
     success: function(value){
      console.log('sending director');
      }
    }); 
  }

  function sending_star(value){
    $.ajax({
     type: "POST",
     url: "/movies/<%= @movie.id %>/cast",
     data: { star_id: value },
     dataType: 'script',
     success: function(value){
      console.log('sending star');
      }
    }); 
  }


  $('#search-director').keyup(function() {
  var searchField = $('#search-director').val();
  var myExp = new RegExp(searchField, "i");
    $.getJSON("<%= request.protocol + request.host_with_port %>/directors-get-json", function(director){
      var output3 = '<ul class="list-unstyled">';
      $.each(director, function(key, val) {
        if((val.nickname.search(myExp) != -1 ) && (searchField.length > 2)){
          output3 += '<h3>Director Results:</h3>';
          output3 += '<div class="border-casting">';
          output3 += '<li>';
          output3 += '<a href="<%= request.protocol + request.host_with_port %>/directors/'+val.id+'">'+val.nickname +'</a>';
          
          output3 += '<button id="btn-add-director" class="btn btn-primary pull-right" onclick="sending_director(';
          output3 += val.id;
          output3 += ')">Add</button>'
          
          output3 += '</li>';
          output3 += '<li> Career:';
          if(val.also_star){
            output3 +=' Movie Star ';
          }if(val.also_screenwriter){
            output3 +=', Screenwriter</li>';
          }
          output3 += '</li>';
          output3 += '</div>';

        }if(searchField.length == 0) {/* field em branco */
          output3 = '<ul class="list-unstyled">';
        }
      });    
    output3 += '</ul>';
    $('#results-director').html(output3);
    });
  });

  $('#search-cast').keyup(function() {
  var searchField = $('#search-cast').val();
  var myExp = new RegExp(searchField, "i");
    $.getJSON("<%= request.protocol + request.host_with_port %>/stars-get-json", function(stars){
      var output2 = '<ul class="list-unstyled">';
      $.each(stars, function(key, val) {
        if((val.nickname.search(myExp) != -1 ) && (searchField.length > 2)){
          output2 += '<h3>Star Results:</h3>';
          output2 += '<li>';
          output2 += '<a href="<%= request.protocol + request.host_with_port %>/stars/'+val.id+'">'+val.nickname +'</a>';

          output2 += '<button id="btn-add-star" class="btn btn-primary pull-right" onclick="sending_star(';
          output2 += val.id;
          output2 += ')">Add</button>'

          output2 += '</li>';
          output2 += '<li> Career:';
          if(val.also_director){
            output2 +=' Director ';
          }if(val.also_screenwriter){
            output2 +=', Screenwriter</li>';
          }
          output2 += '</li>';
        }if(searchField.length == 0) {/* field em branco */
          output2 = '<ul class="list-unstyled">';
        }
      });    
    output2 += '</ul>';
    $('#results-cast').html(output2);
    });
  });


</script>