<div class="row">
  <div class="col col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" id="main-frame" >
  	<form>
  		<h4>Add a new Movie</h4>
	  	<%= form_for(@movie, url: {action: "create"}, html: {multipart: true, class: "form-inline" }) do |f| %>
				<div class="form-group">
					<%= f.label :original_title %>
					<%= f.text_field :original_title, class: "form-control" , placeholder: "movie original title" %>
				</div>
				<div class="form-group">
					<%= f.label :aka %>
					<%= f.text_field :aka, class: "form-control" , placeholder: "Also known as" %>
				</div>
				<div class="form-group">
					<%= f.label :IMDB %>
					<%= f.text_field :IMDB, class: "form-control" , placeholder: "movie IMDB link" %>
				</div>
				<div class="form-group">
					<%= f.label :length %>
					<%= f.text_field :length, class: "form-control",placeholder: "Movie length in mminutes" %>
				</div>
				<div class="form-group">
					<%= f.label :synopsis %>
					<%= f.text_area :synopsis, class: "form-control",placeholder: "Movie synopsis", rows: 10 %>
				</div>

				<div class="form-group">
					<%= f.label :decade_id %>&nbsp;
					<%= f.select :decade_id, @decades.collect{|decades| decades['decade'] }, include_blank: false, class: "form-control form-inline" %>&nbsp;
					<%= f.label :category_id %>&nbsp;
					<%= f.select :category_id, @categories.collect{|categorie| categorie['categorie'] }, include_blank: false, class: "form-control form-inline" %>&nbsp;
					<%= f.label :region_id %>&nbsp;
					<%= f.select :region_id, @regions.collect{|region| region['region'] }, include_blank: false, class: "form-control form-inline" %>
				</div>	 
				<div class="form-group">
					<strong>Genres of this Movie: </strong>
					<%= f.collection_check_boxes :genre_ids, Genre.all, :id, :genre do |i| %>
						<% i.label(class: "checkbox-inline input_checkbox "){ i.check_box(class: "checkbox") + i.text } %>
					<% end %>
				</div>
				<div class="form-group">
					<strong>Movie's Poster</strong><br />
					<%= f.file_field :poster, accept: 'image/jpeg,image/gif,image/png' %>
				</div>
				<div class="form-group">
					<%= f.submit 'Save', class: "btn btn-success" %>
				</div>
			<% end %>
  	</form>
  </div>
  <div class="col-md-3  col-lg-3 col-sm-3" id="sidebar" >
  	<p> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim justo. Mauris eget augue id lorem consequat
        laoreet. Cras ut ante a nunc rutrum iaculis. Donec eu neque nunc. Pellentesque pharetra nibh scelerisque tellus tincidunt
        in volutpat augue semper. Proin luctus sem ac arcu convallis vel ultrices felis scelerisque. Duis vitae sem eros, non
        sollicitudin purus. 
    </p>
    <p> 
        Ut a nunc lacus, eu faucibus dolor. Maecenas condimentum tincidunt dolor, vitae sodales justo lacinia ut. Nulla facilisi.
        Vivamus hendrerit, turpis sit amet auctor auctor, nibh purus aliquam lacus, sed pretium arcu nunc in neque. Proin
        sollicitudin risus ac urna malesuada adipiscing. Donec auctor bibendum fringilla.
    </p>
    <h2>
        Phasellus vitae ligula elit
    </h2>
    <p> 
        Phasellus vitae ligula elit. Integer vel augue vitae arcu semper suscipit. Ut sit amet purus vel lectus placerat
        porttitor. Suspendisse potenti. Fusce elementum massa nec magna tristique et blandit erat lacinia. Vestibulum fermentum
        augue consectetur nisl adipiscing accumsan. Quisque semper justo nec nibh venenatis ut feugiat dolor mattis. In lacus
        magna, rutrum at congue vitae, imperdiet a purus.
    </p>
  </div>
 </div>