<div class="row">
	<%= render 'shared/errors', obj: @movie %>
  <div class="col col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" id="main-frame" >
    <div class="media">
			<div class="thumbnail col col-md-4 col-sm-4 col-xs-4 ">
	      <%= image_tag(@movie.poster.url, class: "img-responsive media-object", 
	      alt: "Profile", 'data-toggle' => 'tooltip', 'data-placement' => 'top', title: "#{@movie.original_title}") if @movie.poster? %>
      <h3 id="rate">Critic:&nbsp;<%= @critic_media %></h3>
    	<h3 id="rate">Public:&nbsp;&nbsp;&nbsp;6.1</h3>
    	
    	<% if logged_in? && grade_uniquiness? %>
    		<h3 id="vote-computed">You already gave your note to this movie!</h3>
    	<% end %>
    	<br>
    	<% if logged_in? && !grade_uniquiness? %>
	    	<div id="btn-vote" style="text-align:center;">
	    		<button class="btn btn-lg btn-signup", id="grade-toggle">Rate It!</button>
	    	</div>
    	<% end %>

    	<section style="text-align:center;" id="grade-input">
					<%= form_tag( {controller: 'movies', action: 'grade'}, remote: true, method: 'post') do %>   		
    				<%= select_tag :rating, options_for_select((10..100).map { |n| n.to_f / 10 }) %><br>
    			<%= submit_tag 'vote', class:"form-group btn-lg btn-success",  data: { confirm: 'Confirm? You can only rate once!' }%>
    		<% end %>
    	</section>
    	<!-- ajax -->
    	<div id="message" style="text-align:center;"></div>
	    </div>
			
			<div class="media-body">
				<div class="table-responsive ">
        	<table id="striped" class="table table-bordered table-condensed ">
	        	<thead>
	        		<tr> <h1 style="text-align: center;"><%= @movie.original_title %></h1> </tr>
	        	</thead>
	        	<tbody>    
	        		<tr >
	        			<th scope="row">Also know as</th>
	        			<td><%= @movie.aka %></td>
	        		</tr>					   
							<tr>
								<th scope="row">IMDb</th>
								<td><%= link_to "This movie on IMDb",  @movie.IMDB, :target => '_blank' %> </td>
							</tr>
							<tr >
								<th scope="row">Director</th>
								<td><% @movie.directors.each do |_director| %> 
										<%= _director.nickaname %>
										<% end %>
								</td>
							</tr>
							<tr >
								<th scope="row">Year</th>
								<td><%= @movie.year %> </td>
							</tr>
							<tr>
								<th scope="row">Region</th>
								<td><%= Region.find(@movie.region_id).region  %></td>
							</tr>
							<tr >
								<th scope="row">Length</th>
								<td><%= @movie.length  %></td>
							</tr>
							<tr >
								<th scope="row">Category</th>
								<td><%= Category.find(@movie.category_id).categorie  %></td>
							</tr>
							<tr >
								<th scope="row">Genres</th>
								<td><% @movie.genres.each do |_genre|  %>
											<%= _genre.genre %>
										<% end %>
								</td>
							</tr>
							<tr>
							<th scope="row">Synopsis</th>
              	<td >
                	<div class="scroll-bar-wrap">
                  	<div class="hidden-sm scroll-box">
                    	<%= @movie.synopsis %>
                  	</div>
                		<div class="cover-bar"></div>
              	 	</div>
              	</td>
						  </tr>	
						</tbody>
			  	</table>
			  	<% if logged_in? && current_user.user_level_id > 1%>
            <%=  link_to 'Edit this Movie:', edit_movie_path(@movie), class: "btn btn-lg btn-signup"%>
          <% end %>
			  </div>
			</div>			
  	</div>
  
  </div>
  <%=  render 'layouts/sidebar' %>
 </div>

 <script type="text/javascript">

	$('#grade-toggle').click(function() {
	  $('#grade-input').fadeToggle(500, function() {
	    $('#grade').focus();
	  });
	});
   
 </script>