<div class="row">
	<%= render 'shared/errors', obj: @star %>
	<div class="col col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" id="main-frame" >
		<h4>Create a new Star</h4>
		<%= form_for(@star, url: {action: "create"}, html: {multipart: true }) do |f| %>
		<%= f.label :birth_name, class: "form-group" %>
		<%= f.text_field :birth_name, class: "form-control form-group" , placeholder: "full name" %><br />
		<%= f.label :birth_date, class: "form-group" %>
		<%= f.date_field :birth_date , class: "form-control"%><br />

		<%= f.label :death_date, class: "form-group" %>
		<%= f.date_field :death_date , class: "form-control form-control"%><br />

		<%= f.label :nickname, class: "form-group" %>
		<%= f.text_field :nickname  , class: "form-control form-control",placeholder: "full name"%><br />

		<%= f.label :gender, "Male", class:"form-group" %>
		<%= f.radio_button :gender, 'male' %>

		<%= f.label :gender, "Female", class:"form-group" %>
		<%= f.radio_button :gender, 'female' %><br/>

		<%= f.label :bio, class: "form-group" %>
		<%= f.text_area :bio  , class: "form-control form-control",placeholder: "Artist Biography", rows: 10 %>

		<%= f.label :also_director, "Also Director", class:"form-group" %>
		<%= f.check_box :also_director, class: 'checkbox-inline' %>
		<%= f.label :also_screenwriter, "Also Screenwriter", class:"form-group"  %>
		<%= f.check_box :also_screenwriter, class: "checkbox-inline" %>

		<%= f.label :country, class:"form-group" %>
		<%= f.select :country, @countries.each{|key|}, include_blank: 'Choose her/his country' %>

		<%= f.label :hometown, class:"form-group" %>
		<%= f.text_field :hometown,placeholder: "full name", class:"form-control" %>

		<strong>Profile Picture</strong><br>
		<%= f.file_field :profile_picture, accept: 'image/jpeg,image/gif,image/png', class: 'form-group' %>
		<%= f.submit 'Save', class: "btn btn-success form-control" %>
		<% end %>

	</div>
	<div class="col-md-3  col-lg-3 col-sm-3" id="sidebar" >


		<p> 
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim justo. Mauris eget augue id lorem consequat
			laoreet. Cras ut ante a nunc rutrum iaculis. Donec eu neque nunc. Pellentesque pharetra nibh scelerisque tellus tincidunt
			in volutpat augue semper. Proin luctus sem ac arcu convallis vel ultrices felis scelerisque. Duis vitae sem eros, non
			sollicitudin purus. 
		</p>
		<p> 
			Ut a nunc lacus, eu faucibus dolor. Maecenas condimentum tincidunt dolor, vitae sodales justo lacinia ut. Nulla facilisi.
			Vivamus hendrerit, turpis sit amet auctor auctor, nibh purus aliquam lacus, sed pretium arcu nunc in neque. Proin
			sollicitudin risus ac urna malesuada adipiscing. Donec auctor bibendum fringilla.
		</p>
		<h2>
			Phasellus vitae ligula elit
		</h2>
		<p> 
			Phasellus vitae ligula elit. Integer vel augue vitae arcu semper suscipit. Ut sit amet purus vel lectus placerat
			porttitor. Suspendisse potenti. Fusce elementum massa nec magna tristique et blandit erat lacinia. Vestibulum fermentum
			augue consectetur nisl adipiscing accumsan. Quisque semper justo nec nibh venenatis ut feugiat dolor mattis. In lacus
			magna, rutrum at congue vitae, imperdiet a purus.
		</p>
	</div>
</div>