<div class="row">
  <div class="col col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" id="main-frame" >
    <div class="thumbnail col col-md-4 col-sm-4 col-xs-4">
      <%= image_tag(@star.profile_picture.url, class: "img-responsive media-object", 
      alt: "Profile", 'data-toggle' => 'tooltip', 'data-placement' => 'top', title: "#{@star.nickname}") if @star.profile_picture? %>
      <%= image_tag(image_path(@star.country), class: "img-responsive media-object" )%>
    </div>
    <%=  link_to 'Edit this profile:', edit_star_path(@star) %>
    Name:<%= @star.nickname %>
  </div>
  <%=  render 'layouts/sidebar' %>
 </div>