<section id="added-director-<%= director.id%>">
	<div class="media">
		<div class="col col-md-2 col-sm-2 col-xs-2">
		  <%= image_tag(director.profile_picture.url, class: "thumbnail img-responsive media-object", 
		  alt: "Profile", 'data-toggle' => 'tooltip', 'data-placement' => 'top', title: "#{director.nickname}") if director.profile_picture? %>
		</div>
		<div class="media-body">
			<ul class="list-unstyled">
				<li><h2> Director</h2></li>
				<li><h3> <%= director.nickname %></h3><button id="remove-director-<%= director.id %>" class="btn btn-danger pull-right"
				 onclick="remove_director(<%= director.id %>)">Remove</button></li>
			</ul>
		</div>	
	</div>

</section>
<script type="text/javascript">

	function removing_director(value){
    $.ajax({
     type: "POST",
     url: "/movies/<%= params[:id] %>/remove_director",
     data: { remove_director_id: value },
     dataType: 'script',
     success: function(value){
      console.log('removing director');
      }
    }); 
  }

  function remove_director(value){
    desable_save_button();
		removing_director(value); // isso vai executar a função acima
  }


	// function remove_director(value){
 //    $('section#added-director-'+value).slideUp(500, function(){
 //      $(this).remove();
 //    });
 //  }

</script>