<div class="row">

  <%= render 'shared/errors', obj: @director %>
  <div class="col col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" id="main-frame" >
  		<br><br>
  		<%= form_for(@director, html: {multipart: true }) do |f| %>
				<%= f.label :birth_name, class: "form-group" %>
				<%= f.text_field :birth_name, class: "form-control form-group" , placeholder: "full name" %><br />
				<%= f.label :birth_date, class: "form-group" %>
				<%= f.date_field :birth_date , class: "form-control"%><br />

				<%= f.label :death_date, class: "form-group" %>
				<%= f.date_field :death_date , class: "form-control form-control"%><br />
			
				<%= f.label :nickname, class: "form-group" %>
				<%= f.text_field :nickname  , class: "form-control form-control",placeholder: "full name"%><br />
			
				<%= f.label :bio, class: "form-group" %>
				<%= f.text_area :bio  , class: "form-control form-control",placeholder: "Artist Biography", rows: 10 %><br />

				<%= f.label :also_screenwriter, "Also Director", class:"form-group" %>
				<%= f.check_box :also_screenwriter, class: 'checkbox-inline' %>
				<%= f.label :also_star, "Also Star", class:"form-group"  %>
				<%= f.check_box :also_star, class: "checkbox-inline" %><br />
			
				<%= f.label :country, class:"form-group" %>
				<%= f.select :country, @countries.each{|key|}, include_blank: 'Choose her/his country' %><br />

				<%= f.label :hometown, class:"form-group" %>
				<%= f.text_field :hometown,placeholder: "full name", class:"form-control" %><br />

				<strong>Profile Picture</strong><br />
				<%= f.file_field :profile_picture, accept: 'image/jpeg,image/gif,image/png', class: 'form-group' %>
				<%= f.submit 'Save', class: "btn btn-success form-control" %><br /><br />
		<% end %>
  </div>
  <%=  render 'layouts/sidebar' %>
 </div>