<div class="row">
  <div class="col col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" id="main-frame" >
    <section class="media">
    <div class="media-body">
    <div class="table-responsive">
      <table id="striped" class="table table-bordered table-condensed ">
        <thead>
          <tr><h2 style="text-align: center;"><%= @user.nickname %></h2> </tr>
        </thead>
          <tbody>
          	<tr >
              <th scope="row">Account type</th>
              <td><%= @user.user_level.level %></td>
            </tr>    
            <tr>
              <th scope="row">Birth Name</th>
              <td><%= @user.birth_name %></td>
            </tr>
            <tr >
              <th scope="row">Nickame</th>
              <td><%= @user.nickname %></td>
            </tr>            
            <tr>
              <th scope="row">Birth date</th>
              <td><%= @user.birth_date %> </td>
            </tr>
            <tr>
             <th scope="row">Country</th>
             <td><%= @user.country[3...-4] %></td>
           </tr>
            <tr>
              <th scope="row">Hometown</th>
              <td><%= @user.hometown  %></td>
            </tr>
            <% if @user.bio %>
	            <tr>
              <th scope="row">Bio</th>
              <td >
                <div class="scroll-bar-wrap">
                  <div class="scroll-box">
                    <%= @user.bio %>
                  </div>
                   <div class="cover-bar"></div>
                </div>
              </td>
            </tr>
	          <% end %>
          </tbody>
          </table>
          <!--  ou se o user for admin...... -->
          <% if logged_in? && @user == current_user %>
            <%=  link_to 'Edit My profile', edit_user_path(@user),class: "btn", :id => 'rate' %>
          <% end %>
        </div>
      </div>
    </section>
  </div>
  <%=  render 'layouts/sidebar' %>
 </div>
