<div class="row">
	<div class="col col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" id="main-frame">
	<h1 id="review-title"><%= @review.title %></h1>
		<h2><%= link_to request.referer.present? ? request.referer : root_path do  %>
	    	<i class=" glyphicon glyphicon-arrow-left"></i>
	  	<% end %>
	  </h2>
	  <% user = User.find(@review.user_id) %>
	  <h4>Author: <%= link_to user.nickname, user_path(user), class: 'glow-black'  %></h4>
		<h4>Posted at: <%= time_ago_in_words(@review.created_at)%> ago.</h4>
		<h4>Updated at: <%= time_ago_in_words(@review.updated_at)%> ago.</h4>
		<br><br>
		<p id="review-paragraph" class="text-justify">&nbsp;&nbsp;&nbsp;&nbsp;<%= @review.body %></p>
		<br><br>
		<h4><%= link_to 'See All comments in detail', movie_review_comments_path(@movie, @review, @review.comments), class: 'pull-right glow-black' %></h4>
		<!-- COMENTARIOS  -->
		<button class="btn btn-lg action-btn", id="comment-toggle">Comments</button>
		<br>
		<section id="comments-section">
			<ol id='comments', class="list-unstyled">
	  		<%= render(partial: 'comments/comment', collection: @review.comments) %>
			</ol>
			<br>
			<% if logged_in? %>
				<%= form_for [@movie, @review, Comment.new ], remote: true do |f| %>
					<fieldset>
						<%= f.text_area :body, rows: 3, placeholder: "Add a comment", class: 'form-group form-control' %>
						<div class="pull-right">
							<%= f.submit 'Share', class: "btn btn-sm form-group action-btn" %>
						</div>
					</fieldset>
				<% end %>
			<% end %>
		</section>

	</div>
	<%=  render 'layouts/sidebar' %>
</div>