<div class="row">
	<div class="col col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" id="main-frame">
	<h1 id="review-title"><%= @review.title %></h1>
		<h2><%= link_to request.referer.present? ? request.referer : root_path do  %>
	    	<i class="glyphicon glyphicon-arrow-left"></i>
	  	<% end %>
	  </h2>
	  <% user = User.find(@review.user_id) %>
	  <h4>Author: <%= link_to user.nickname, user_path(user)  %></h4>
		<h4>Posted at: <%= time_ago_in_words(@review.created_at)%> ago.</h4>
		<h4>Updated at: <%= time_ago_in_words(@review.updated_at)%> ago.</h4>
		<br><br>
		<p><%= @review.body %></p>
		<br><br>
		<!-- COMENTARIOS  -->
	</div>
	<%=  render 'layouts/sidebar' %>
</div>