<!DOCTYPE html>
<html>
<head>
  <title>CinemaTalk</title>
  <!--  essa ordem é super importante se estiver diferente não funciona! -->
  <!-- linkando bootstrap a minha aplicação -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<!--  talvez não precise usar em todas as paginas -->
<%= render "layouts/header" %>
	<div class="navbar-space container">
    <%= render "layouts/messages"%>
		<%= yield %>
    
	</div>
</body>
</html>
